 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;;

}

body {
  margin: 0;
  /* display: flex; */
  color: #ffffff;
  background-color: #04051e;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-size: cover;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    text-decoration: none;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ImgContainer{
  display: flex;
  flex-direction: column;
}


.bgImage{
 width: 100%;
 height: 100%;
 flex: 1;
 object-fit: cover;
}

.bg-body-tertiary{
  padding: 1.4em 10%;
  background-color: rgba(0, 0, 0, 0.8)!important;
  /* background-color: rgba(255, 255, 255, 0.349)!important; */
}

#navbarScroll{
  justify-content: end;
}

.navbar-collapse {
  flex-grow: 0!important;
}

.navbar-toggler {
  padding: 0!important;
}

@media (min-width: 992px) {
  .sub-nav .nav-link {
    padding: 0.2rem 2rem !important;
  }
}

.bg-body-tertiary .navbar-brand,
.bg-body-tertiary .nav-link,
.bg-body-tertiary .nav-dropdown-toggle,
.bg-body-tertiary .nav-dropdown-item, .dropdown-item {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link:hover {
  color: #646cff!important; /* Hover color */
  text-decoration: none!important;
}

.nav-link.active {
  color: #646cff!important; /* Active color */
}




.dropdown-menu.show {
  background-color: rgba(255, 255, 255, 0.349)!important;
  color: #ffffff!important;
  text-transform: uppercase;
  font-weight: 600;

}

.dropdown-item:hover {
  color: black !important;
}

.navbar>.container-fluid{
  padding: 0;  
}

.navbar-toggler-icon {
  background-image: url('../public/img/burger-menu-white.png');
}

.btn {
  border-radius: 0!important;
  font-weight: 600;
  background-color: #04051e;
}
p{
  overflow-wrap: break-word;
}
.btn:hover {
  color: #04051e!important;
  background-color: #fff;
  text-decoration: none!important;
}

button.navbar-toggler.collapsed {
  padding: 0;
}

.card{
  background-color: transparent!important;
  border:2px solid #ffffff;
  color: #ffffff;
}

.api-button {
  padding: 0.2em 1em;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.api-button:hover {
  color: #04051e!important;
  background-color: #fff;
  text-decoration: none!important;
}

/* Test */
/* Test 2 */
/* Test 3 */

/*App*/
.App .content{
  background-color: #04051e;
}

/* Login Page */
#login .nav-item button{
  color:#ffffff!important;
  font-weight: bold;
}

#login .nav-link.active{
  color:#04051e!important;
  font-weight: bold;
}

#login .form-control {
  background-color: transparent!important;
  color: #ffffff!important;
}

#login input::placeholder {
  color: #ffffff; /* Change placeholder color to gray */
}

.modal-content {
  background-color: #000000;
  padding: 2em 2em;
}

.modal-header {
  text-align: center;
  border-bottom: none;
}

.modal-footer {
  text-align: center;
  border-top: none;
}

.modal {
  padding: 0;
}

.fade.modal.show {
  align-content: center;
}

.modal-content {
  width: auto;
  margin: 0 2em;
}

#login{
  padding:3em 0;
  min-height: 100vh; 
  background: url('../public/img/bg.gif'); 
  background-size: cover;
  max-width:100%;
}

#login-div{
  max-width: 400px;
  width: 80%;
}

#login .ImgContainer{
  height: 100%;
  width: 100%; 
  max-height: 600px; 
  overflow: hidden;
}


#login .ImgContainer img{
  object-fit: contain;
  width: 100%; 
  height: 100%;
}

#uncontrolled-tab-example{
  justify-content: center;
}

/*Nav bar*/
#head-nav-bar .navbar-brand {
  margin-right: 0;
}

#head-nav-bar .navbar-brand img {
  height: 30px;
}

#account-offcanvas{
  background-color: #000000;
}

#account-offcanvas .offcanvas-body .text-center img {
  width: 100px;
  height: 100px;
}

#account-offcanvas .btn-logout {
  margin: 2em 3em;
}

/*Off Canvas*/
.offcanvas{
  color: #ffffff;
}

.offcanvas-header{
  margin-top: 0.2em;
  align-items: baseline;
}

.offcanvas-title{
  width: 100%;
  text-align: center;
}

.btn-close {
  --bs-btn-close-bg: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff"%3e%3cpath d="M.25 0A.25.25 0 0 1 .58.22L8 7.585 15.42.22a.25.25 0 0 1 .354.353L8.707 8l7.067 7.426a.25.25 0 0 1-.354.354L8 8.707l-7.07 7.073a.25.25 0 0 1-.354-.354L7.293 8 .22.58A.25.25 0 0 1 .25 0z" stroke-linecap="round" stroke-width="4" stroke="%23ffffff" /%3e%3c/svg%3e');
}

/*Home*/
#home .bg-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.001), #04051e), url('../public/img/night_sky2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  padding-bottom: 50px;
} 

#home .mask {
  max-width: 100%;
  width: 80%;
  margin: 120px auto 20px auto;
}

#home-left {
  padding: 40px;
  background-color: #000000;
}

#home-left h6 {
  color: #808080;
}

#home-left a {
  margin-top: 20px;
}

/*About*/

#about-row1{
  max-width: 100%;
  width: 80%;
  margin: 0 auto 0 auto;
}

#about-row2  h1 {
  text-align: center;
}

#about-row2   hr {
  border-top: 2px solid #ffffff;
}

#about-container-left,
#about-container-right {
  padding: 0 1em 4em 1em;
}

#about-container-left .card,
#about-container-right .card {
  width: 100%;
}

#about-container-left .btn,
#about-container-right .btn {
  margin-top: 20px;
}

/*Apod*/

#apod-container {
  max-width: 80%;
  margin: 2em auto 5em auto;
}

#apod-row-1 h1{
  text-align: center;
}

#apod-row-1 hr {
  border-top: 2px solid #ffffff;
}



#apod-row-2-col-1{
  margin-bottom: 2em;
}

#apod-row-2-col-2{
  text-align: end;
}

#apod-row-2-col-2-in{
  margin-bottom: 4em;
}

#apod-row-2-col-2-in-label-1{
  margin-right: 1em;
}

#apod-row-2-col-2-in-label-2{
  margin-right: 1em;
  margin-left: 1em;
}

#apod-row-2-col-2-in input {
  padding: 0.2em 1em;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

#apod-row-result-col-1 {
  margin-bottom: 2em;
}

#apod-row-result-col-1 .ImgContainer {
  height: 100%; 
  width: 100%; 
  max-height: 600px; 
  overflow: hidden;
}

#apod-row-result-col-1 .ImgContainer img {
  object-fit: contain; 
  width: 100%; 
  height: 100%; 
}

#apod-row-result-col-1 .ImgContainer iframe {
  width: 100%; 
  height: 100%; 
  border: none;
}

.apod-row-result-col-2-last-p{
  overflow-wrap: break-word;
}

#apod-row-result-slider-row-1-column-1 {
  margin-bottom: 2em;
}

#apod-row-result-slider-row-1-column-1 .ImgContainer {
  height: 100%; 
  width: 100%; 
  max-height: 600px; 
  overflow: hidden;
}

#apod-row-result-slider-row-1-column-1 .ImgContainer img {
  object-fit: contain; 
  width: 100%; 
  height: 100%; 
}

#apod-row-result-slider-row-1-column-1 .ImgContainer iframe {
  width: 100%; 
  height: 100%; 
  border: none;
}

/*Earth Imagery*/
#earthimagery .container {
  max-width: 80%;
  margin: 2em auto 5em auto;
}

#earthimagery-row-1 h1{
  text-align: center;
}

#earthimagery-row-1 hr {
  border-top: 2px solid #ffffff;
}

#earthimagery-row-2 .leaflet-container{
  height: 400px;
  width: 100%;
}

.earthimagery-row-2-in-rows label{
  color: #fff;
}

.earthimagery-row-2-in-rows input{
  padding: 0.2em 1em;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 100%;
}

#earthimagery-row-2-in-rows-button{
  text-align: end;
}

#earthimagery-row-results-yet p{
  text-align: center;
}

#earthimagery-row-results .ImgContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#earthimagery-row-results-loading{
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100%;
}

#earthimagery-row-results-loading .spinner-border {
  width: 4rem;
  height: 4rem;
}

#earthimagery-row-results .ImgContainer img {
  object-fit: contain; 
  width: 100%; 
  height: 100%;
}

#earthimagery-row-results-zoom-level label {
  display: flex;
  align-items: center;
}

#earthimagery-row-results-zoom-level span {
  margin-right: 1em; /* Example margin */
}

#earthimagery-row-results-zoom-level input[type="range"] {
  flex: 1;
  padding: 0.2em 1em;
  background-color: transparent;
  color: #fff;
  width: 20em;
}

#earthimagery-row-results-url{
  overflow-wrap: break-word;
}

/*Footer*/

#my-footer {
  width: 100%;
  background-color: #000000;
}

#my-footer .row {
  max-width: 100%;
  width: 80%;
  margin: 20px auto;
}

#my-footer-first img {
  height: 30px;
  margin-bottom: 30px;
}

#my-footer-third img {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}