/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
 */
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;;

}

body {
  margin: 0;
  /* display: flex; */
  color: #ffffff;
  background-color: #04051e;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-size: cover;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    text-decoration: none;
  }
  button {
    background-color: #f9f9f9;
  }
}

.ImgContainer{
  display: flex;
  flex-direction: column;
}


.bgImage{
 width: 100%;
 height: 100%;
 flex: 1;
 object-fit: cover;
}

.bg-body-tertiary{
  padding: 1.4em 10%;
  background-color: rgba(0, 0, 0, 0.8)!important;
  /* background-color: rgba(255, 255, 255, 0.349)!important; */
}

#navbarScroll{
  justify-content: end;
}

.navbar-collapse {
  flex-grow: 0!important;
}

.navbar-toggler {
  padding: 0!important;
}

@media (min-width: 992px) {
  .sub-nav .nav-link {
    padding: 0.2rem 2rem !important;
  }
}

.bg-body-tertiary .navbar-brand,
.bg-body-tertiary .nav-link,
.bg-body-tertiary .nav-dropdown-toggle,
.bg-body-tertiary .nav-dropdown-item, .dropdown-item {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link:hover {
  color: #646cff!important; /* Hover color */
  text-decoration: none!important;
}

.nav-link.active {
  color: #646cff!important; /* Active color */
}




.dropdown-menu.show {
  background-color: rgba(255, 255, 255, 0.349)!important;
  color: #ffffff!important;
  text-transform: uppercase;
  font-weight: 600;

}

.dropdown-item:hover {
  color: black !important;
}

.navbar>.container-fluid{
  padding: 0;  
}

.navbar-toggler-icon {
  background-image: url('../public/img/burger-menu-white.png');
}

.btn {
  border-radius: 0!important;
  font-weight: 600;
  background-color: #04051e;
}
p{
  overflow-wrap: break-word;
}
.btn:hover {
  color: #04051e!important;
  background-color: #fff;
  text-decoration: none!important;
}

button.navbar-toggler.collapsed {
  padding: 0;
}

.card{
  background-color: transparent!important;
  border:2px solid #ffffff;
  color: #ffffff;
}

.api-button {
  padding: 0.2em 1em;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.api-button:hover {
  color: #04051e!important;
  background-color: #fff;
  text-decoration: none!important;
}

/* Test */
/* Test 2 */
/* Test 3 */


/* Login Page */
#login .nav-item button{
  color:#ffffff!important;
  font-weight: bold;
}

#login .nav-link.active{
  color:#04051e!important;
  font-weight: bold;
}

#login .form-control {
  background-color: transparent!important;
  color: #ffffff!important;
}

#login input::placeholder {
  color: #ffffff; /* Change placeholder color to gray */
}

.modal-content {
  background-color: #000000;
  padding: 2em 2em;
}

.modal-header {
  text-align: center;
  border-bottom: none;
}

.modal-footer {
  text-align: center;
  border-top: none;
}

.modal {
  padding: 0;
}

.fade.modal.show {
  align-content: center;
}

.modal-content {
  width: auto;
  margin: 0 2em;
}

/*Off Canvas*/
.offcanvas{
  color: #ffffff;
}

.offcanvas-header{
  margin-top: 0.2em;
  align-items: baseline;
}

.offcanvas-title{
  width: 100%;
  text-align: center;
}

.btn-close {
  --bs-btn-close-bg: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff"%3e%3cpath d="M.25 0A.25.25 0 0 1 .58.22L8 7.585 15.42.22a.25.25 0 0 1 .354.353L8.707 8l7.067 7.426a.25.25 0 0 1-.354.354L8 8.707l-7.07 7.073a.25.25 0 0 1-.354-.354L7.293 8 .22.58A.25.25 0 0 1 .25 0z" stroke-linecap="round" stroke-width="4" stroke="%23ffffff" /%3e%3c/svg%3e');
}

